* {
    margin: 0px;
    padding: 0px;
}
html {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #fff;
}
body {
    background: #d7eedf;
}


.container {
    display: flex;
    
    margin-top: 8rem;
 margin-left: 10rem;
 margin-right: 10rem;
   
background: #1f4c3c;
height: 30rem;
}

.container .navbar ul li {
    list-style: none;
}

.main {
    background: #fff;
    height: 30rem;
    margin-left: 10rem;
    margin-right: 10rem;
}